./.idea
./tmp
.idea
tmp/
/apps/api/tmp
/apps/api/air.log
/api
"C:\\Users\\Admin\\AppData\\Local\\JetBrains\\IntelliJIdea2025.2\\terminal\\history\\league-management-history"

league-management.iml
node_modules
dist
.nx
apps/mobile/android/.gradle
apps/mobile/android/build
apps/mobile/android/app/build
apps/mobile/ios/Pods
apps/mobile/ios/build
